<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/login.css}">
    <title>Title</title>
</head>
<body>


<div class="login-page">


    <div class="form">


        <span class="custom-dropdown big">
            <form name="userSelect" th:action="@{/post/{userId}/viewUserProfile(userId=${userId})}">
                <select th:onchange="userSelect.submit()" name="selectedUserId">
                    <option disabled>Select a user..</option>
                    <option th:each="user:${userList}" th:value="${user.id}" th:text="${user.name}"></option>
                </select>
            </form>
        </span>
        <form class="login-form" th:action="@{/post/{userId}/createpost(userId=${userId})}"  method="get">
            <button>Write Post</button>
        </form>
        <br>
        <form class="login-form" th:action="@{/post/{userId}/posts/{viewerId}(userId=${userId},viewerId=${userId})}"  method="get">
            <button>View Posts</button>
        </form>
        <br>
        <form class="login-form" th:action="@{/request/viewRequests/{receiverId}(receiverId=${userId})}"  method="get">
            <button>View Friend Requests</button>
        </form>
        <br>
        <form class="login-form" th:action="@{/logout}"  method="get">
            <button>Logout</button>
        </form>

    </div>
</div>
</body>
</html>