<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/posts.css}">
    <title>Title</title>
</head>
<body>
<form class="request-btn" th:action="@{/request/{senderId}/{receiverId}(receiverId=${userId},senderId=${viewerId})}" method="post">
    <input class="zero" type="hidden"  name="url" th:value="@{${#httpServletRequest.requestURL}}">
    <button type="submit">Send Friend Request</button>
</form>
<div id="app" th:each="post: ${allPosts}">

    <div class="main-info"  >

        <span class="name" th:text="${post.user.name} "></span>
        <h3 th:text="${post.description}"></h3>

        <form th:action="@{/comment/{postId}/{userId}(userId=${viewerId}, postId=${post.id})}"  method="get">
         <button type="submit">Write Comment</button>
        </form>
        <form th:action="@{/comment/{postId}/allComments(postId=${post.id})}"  method="get">
            <button type="submit">View Comments</button>
        </form>
        <div class="btn-group">
            <form th:action="@{/reaction/upvote/{postId}/{userId}(postId=${post.id},userId=${viewerId})}" method="post">
                <input class="zero" type="hidden"  name="url" th:value="@{${#httpServletRequest.requestURL}}">
                <button type="submit">Upvote</button>
            </form>
            <form th:action="@{/reaction/downvote/{postId}/{userId}(postId=${post.id},userId=${viewerId})}" method="post">
                <input class="zero" type="hidden"  name="url" th:value="@{${#httpServletRequest.requestURL}}">
                <button type="submit">Downvote</button>
            </form>
        </div>
        <br/>
    </div>
    <hr>


</div>


</body>
</html>