<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/posts.css}">
    <title>Title</title>
</head>
<body>
<div id="app" th:each="post: ${allPosts}">

    <div class="main-info"  >
        <span class="name" th:text="${post.user.name} "></span>
        <h3 th:text="${post.description}"></h3>

        <form th:action="@{/comment/{postId}/{userId}(userId=${#strings.toString(viewerId)}, postId=${#strings.toString(post.id)})}"  method="get">
         <button type="submit">Write Comment</button>
        </form>
        <form th:action="@{/comment/{postId}/allComments(postId=${#strings.toString(post.id)})}"  method="get">
            <button type="submit">View Comments</button>
        </form>
        <div class="btn-group">
            <form th:action="@{/reaction/upvote/{postId}/{userId}(postId=${#strings.toString(post.id)},userId=${#strings.toString(viewerId)})}" method="post">
                <input type="hidden"  name="url" th:value="@{__${#httpServletRequest.requestURL}__}">
                <button type="submit">Upvote</button>
            </form>
            <form th:action="@{/reaction/downvote}" method="post">
                <input type="hidden"  name="url" th:value="@{__${#httpServletRequest.requestURL}__}">
                <button type="submit">Downvote</button>
            </form>
        </div>
        <br/>
    </div>
    <hr>


</div>


</body>
</html>