<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/posts.css}">
    <title>Title</title>
</head>
<body>

<div id="app">

    <div  th:each="request: ${receivedRequests}">

        <div class="main-info"  >

            <span class="name" th:text="${request.sender.name} "></span>

            <form th:action="@{/request/{requestId}/accept(requestId=${request.id})}"  method="post">
                <input class="zero" type="hidden"  name="redirectUrl" th:value="@{${#httpServletRequest.requestURL}}">
                <button type="submit">Accept</button>
            </form>
            <form th:action="@{/request/{requestId}/reject(requestId=${request.id})}"  method="post">
                <input class="zero" type="hidden"  name="redirectUrl" th:value="@{${#httpServletRequest.requestURL}}">
                <button type="submit">Reject</button>
            </form>

            <br/>
        </div>
        <hr>


    </div>

</div>
</body>
</html>